.Sidebar{
    background-color: white;
    position: fixed;
    width: 18%;
    height: 100%;
    padding-left: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.6);
}
.Iconimg{
    height: 50px;
    min-width: 230px;
    object-fit: cover;
}
.profileName{
    min-width: 230px;
}
.Profile-Pic{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
}
.menuList{
    overflow-x: auto;
    height: 80%;
}
.Sidebar-menu{
    border-radius: 50px;
    box-shadow: 0 5px 3px -2px rgba(0, 0, 0, 0.1);
    height: 50px;
    min-width: 230px;
    padding:.8rem;
    text-decoration: none;
    color: black;
}
.Sidebar-menu:hover{
    background-color: #c5f6f9;
    cursor: pointer;
    transition: .5s;
}

