.avg_parent{
    height: 180px;
    overflow: auto;
}
.record-by-month{
    height: 60px;
    background-color: antiquewhite;
}
.avg-Work_Hrs{
    background-color: rgb(215, 255, 242);
    height: 116px;
}
.avg-In-Time{
    background-color: rgb(252, 231, 246);
    height: 116px;
}
.avg-out-time{
    background-color: rgb(215, 234, 255);
    height: 116px;
}
.avg-break{
    background-color: rgb(255, 228, 215);
    height: 116px;
}
.paid-days{
    background-color: rgb(255, 219, 186);
    height: 116px;
}

/* Policy Details Component Styling */
.accordion-button {
    background-color: #f8f9fa;
    font-weight: 600;
    padding: 1rem;
    border-radius: 0.5rem !important;
  }
  
  .accordion-button:not(.collapsed) {
    color: #0d6efd;
    background-color: #e9f2ff;
  }
  
  .accordion-body {
    background-color: #ffffff;
    padding-top: 1rem;
  }

/* Regularization request Styling */
.Prof_img_Regularize{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.dateTimeSection{
    background-color: antiquewhite;
    padding: 25px;
}

.timer-icon{
    position: absolute;
    top: 50%;
    right: 5px;
    transform: translateY(-50%);
    font-size: 20px;
    color: blue;
    
}