.record-by-month{
    height: 60px;
    background-color: antiquewhite;
}
.avg-Work_Hrs{
    background-color: rgb(215, 255, 242);
    overflow: auto;
    height: 116px;
}
.avg-In-Time{
    background-color: rgb(252, 231, 246);
    overflow: auto;
    height: 116px;
}
.avg-out-time{
    background-color: rgb(215, 234, 255);
    overflow: auto;
    height: 116px;
}
.avg-break{
    background-color: rgb(255, 228, 215);
    overflow: auto;
    height: 116px;
}
.paid-days{
    background-color: rgb(255, 219, 186);
    overflow: auto;
    height: 116px;
}
