card {
    max-width: 370px;
    border-radius: 10px;
    min-height: 200px;
  }
  
  .chart-wrapper {
    width: 100px;
    height: 100px;
  }
  
  .center-label {
    text-anchor: middle;
    fill: #333;
    white-space: pre-line;
  }
  
  .stat-blue {
    color: #007bff;
    font-size: 16px;
  }
  
  .stat-green {
    color: #28a745;
    font-size: 16px;
  }
  
  .stat-orange {
    color: #fd7e14;
    font-size: 16px;
  }
  
  .stat-purple {
    color: #6f42c1;
    font-size: 16px;
  }
  
  .stat-label {
    font-size: 14px;
  }
  
  .left-spaced {
    margin-left: 10px;
  }
  